<header>
	<div class="container">
				<div class="row">
					<div class= "site-branding col-sm-3">
						<h1 id="logo">FURNITURE</h1>
					</div>

					<div class="navbar col-sm-5">
						<ul id="menubar">
							<li><a href="./index.html">HOME</a></li>
					        <li><a href="./gallery">GALLERY</a></li>
					        <li><a href="http://http:///revera/sample-page-2/">ABOUT</a></li>
					        <li><a href="form.html">CONTACT</a></li>
					        <li><a href="http://http://blog/">BLOG</a></li>
					        
						</ul>
					</div>

					<div class="buscar col-sm-4">
						<input class="searchInput" type="text"></input>
						<button class="searchButton">Search</button>
					</div>
				</div>
	</div>
</header>